img{
    width: 200px;
}
body{
    background-image: url(https://i.pinimg.com/1200x/7d/b1/5f/7db15f4354d84fea17d8d64494f71067.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  } 
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
h3{
    text-align: center;
    height: 15%;
    color: rgb(255, 255, 255);
    background: none;
}
footer{
    color: rgb(0, 0, 0);
}
div{
    text-align: center;
    color: rgb(0, 0, 0);
    border-color: rgb(17, 0, 255);
}
p{
    background-color: rgb(255, 255, 255);
}
.table{
    color: blue;
}

